.bg-1 {
	  color: #fffcfc;
      background-image: url("http://wallpapercave.com/wp/GlPjsVq.png") 
      
  }
  

  
  .bg-2 { 
      background-color: #474e5d; 
      color: #ffffff;
  }
  .bg-3 { 
      background-color: white; 
      color: #555555;
  }
  .bg-4 { 
      background-color: #2f2f2f; 
      color: #fff;
  }
  
  .bg-5 {
  
   background-color: #D9D9F3;

   color:black;
   font-family:impact;
   
  }
  

  

 
 .navbar-inverse .navbar-nav li > a {
 color: #FFF;
 margin-left:50px;
 margin-right:50px;
}

.navbar-inverse .navbar-nav li > a:hover {
 color: #696969;
 }
 
 .thumbnail {
    padding:  0 0 15px 0;
    border: none;
    border-radius: 0;
 
}

.boxVideo {
    position: relative;
    padding-bottom: 56.25%; 
    padding-top: 25px;
    height: 0;
    margin:0 auto;

}
.boxVideo iframe {
    position: absolute;
    top: 0;
    left: 15%;
	right: 50%;
    width: 70%;
    height:	70%;
}

.nav {

padding-left:130px;

	
}

 ul {
     list-style-type:none
 }
 
 
 
 
 
	  
	.container-fluid {
      padding-top: 70px;
      padding-bottom: 70px;
  }
